body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background: #353535;
  font-family: 'Inconsolata', monospace;
  color: white;
}

body #calculator {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 70vh;
  width: calc(70vh * 0.6214);
  background: #3498BD;
  border-bottom: solid 10px #2980B9;
  border-right: solid 10px #2980B9;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: [start] 1fr 1fr [middle] 1fr 1fr [end];
      grid-template-columns: [start] 1fr 1fr [middle] 1fr 1fr [end];
  -ms-grid-rows: 3fr (2fr)[5];
      grid-template-rows: 3fr repeat(5, 2fr);
}

body #calculator * {
  -webkit-user-drag: none;
  -webkit-user-select: none;
  /* Safari 3.1+ */
  -moz-user-select: none;
  /* Firefox 2+ */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Standard syntax */
}

body #calculator .btn {
  margin: 5px;
  background: #2ecc71;
  border-right: solid 10px #27ae60;
  border-bottom: solid 10px #27ae60;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2.5vw;
}

body #calculator .btn:active {
  border-width: 5px;
  position: relative;
  top: 5px;
  left: 5px;
  width: calc(100% - 15px);
  height: calc(100% - 15px);
}

body #calculator #btn_divide, body #calculator #btn_multiply, body #calculator #btn_minus, body #calculator #btn_plus, body #calculator #btn_calculate {
  border-right: solid 10px #c0392B;
  border-bottom: solid 10px #c0392B;
  background: #e74c3c;
}

body #calculator #btn_divide:active, body #calculator #btn_multiply:active, body #calculator #btn_minus:active, body #calculator #btn_plus:active, body #calculator #btn_calculate:active {
  border-width: 5px;
  position: relative;
  top: 5px;
  left: 5px;
  width: calc(100% - 15px);
  height: calc(100% - 15px);
}

body #calculator #btn_c, body #calculator #btn_del {
  border-right: solid 10px #f39c12;
  border-bottom: solid 10px #f39c12;
  background: #f1c40f;
}

body #calculator #btn_c:active, body #calculator #btn_del:active {
  border-width: 5px;
  position: relative;
  top: 5px;
  left: 5px;
  width: calc(100% - 15px);
  height: calc(100% - 15px);
}

body #calculator #result {
  grid-column: start / end;
  margin: 5px;
  border-right: solid 10px #cccccc;
  border-bottom: solid 10px #cccccc;
  background: #acacac;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 7fr 1fr;
      grid-template-columns: 7fr 1fr;
  -ms-grid-rows: 2fr 4fr;
      grid-template-rows: 2fr 4fr;
}

body #calculator #result #old {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 10px;
  font-size: 1vw;
}

body #calculator #result #char {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 10px;
  font-size: 1vw;
}

body #calculator #result #current {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 10px;
  font-size: 2vw;
}

body #calculator #btn_calculate {
  grid-column: start / middle;
}

body #calculator #btn_del {
  grid-column: middle / end;
}

body .code {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 1vw;
  color: white;
  text-align: center;
}

body .code a:link {
  color: #27ae60;
}

body .code a:visited {
  color: #1c8a49;
}

@media only screen and (max-width: 800px) {
  body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
  }
  body #calculator {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: unset;
            transform: unset;
    height: 97vh;
    width: 100vw;
  }
  body #calculator .btn {
    font-size: 10vw;
  }
  body #calculator #result #old {
    font-size: 4vw;
  }
  body #calculator #result #char {
    font-size: 4vw;
  }
  body #calculator #result #current {
    font-size: 8vw;
  }
  body .code {
    position: fixed;
    font-size: 3vh;
  }
}
