body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    background: #353535;
    font-family: 'Inconsolata', monospace;
    color: white;

    #calculator{
        * {
            // transition: .1s linear;

            -webkit-user-drag: none;
            -webkit-user-select: none;
            /* Safari 3.1+ */
            -moz-user-select: none;
            /* Firefox 2+ */
            -ms-user-select: none;
            /* IE 10+ */
            user-select: none;
            /* Standard syntax */
        }

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 70vh;
        width: calc(70vh * 0.6214);

        background: #3498BD;
        border-bottom: solid 10px #2980B9;
        border-right: solid 10px #2980B9;

        display: grid;
        grid-template-columns: [start] 1fr 1fr [middle] 1fr 1fr [end];
        grid-template-rows: 3fr repeat(5, 2fr);

        .btn {
            margin: 5px;
            background: #2ecc71;

            border-right: solid 10px #27ae60;
            border-bottom: solid 10px #27ae60;


            cursor: pointer;

            box-sizing: border-box;

            display: flex;
            justify-content: center;
            align-items: center;

            font-size: 2.5vw;

            &:active {
                
                border-width: 5px;

                position: relative;
                top: 5px;
                left: 5px;

                width: calc(100% - 15px);
                height: calc(100% - 15px);
            }
        }

        #btn_divide, #btn_multiply, #btn_minus, #btn_plus, #btn_calculate {
            border-right: solid 10px #c0392B;
            border-bottom: solid 10px #c0392B;
            background: #e74c3c;

            &:active {
                
                border-width: 5px;

                position: relative;
                top: 5px;
                left: 5px;

                width: calc(100% - 15px);
                height: calc(100% - 15px);
            }
        }

        #btn_c, #btn_del {
            border-right: solid 10px #f39c12;
            border-bottom: solid 10px #f39c12;
            background: #f1c40f;

            &:active {
                border-width: 5px;

                position: relative;
                top: 5px;
                left: 5px;

                width: calc(100% - 15px);
                height: calc(100% - 15px);
            }
        }

        #result {
            grid-column: start / end;
            margin: 5px;

            border-right: solid 10px #cccccc;
            border-bottom: solid 10px #cccccc;

            background: #acacac;

            display: grid;
            grid-template-columns: 7fr 1fr;
            grid-template-rows: 2fr 4fr;

            #old {
                grid-column: 1 / 2;

                display: flex;
                justify-content: flex-start;
                align-items: flex-start;

                padding: 10px;

                font-size: 1vw;
            }
            
            #char {
                grid-column: 2 / 3;

                display: flex;
                justify-content: flex-end;
                align-items: flex-start;

                padding: 10px;

                font-size: 1vw;
            }

            #current {
                grid-column: 1 / 3;
                grid-row: 2 / 3;

                display: flex;
                justify-content: flex-end;
                align-items: flex-end;

                padding: 10px;

                font-size: 2vw;
            }
        }

        #btn_calculate{
            grid-column: start / middle;
        }

        #btn_del{
            grid-column: middle / end;
        }
    }


    .code{
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        font-size: 1vw;
        color: white;
        text-align: center;

        a{
            &:link{
                color: #27ae60;   
            }

            &:visited{
                color: #1c8a49; 
            }

        }
    }
}

@media only screen and (max-width: 800px) {
    body {
        width: 100vw;
        height: 100vh;
        margin: 0;
        padding: 0;
    
        #calculator{
            box-sizing: border-box;
            position: absolute;
            top: 0;
            left: 0;
            transform: unset;
            height: 97vh;
            width: 100vw;
    
            .btn {
                font-size: 10vw;
            }
    
            #result {
                #old {
                    font-size: 4vw;
                }
                
                #char {
                    font-size: 4vw;
                }
    
                #current {
                    font-size: 8vw;
                }
            }
        }
    
    
        .code{
            position: fixed;
            font-size: 3vh;
        }
    }
}